@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: #00302E; */
  color: white;
  /* overflow-x: hidden; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  

}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
:root{
  --background-color: #ffff;
  --primary-bg: #f1efef;
  --primary-color: #000000;
  --toggle-bg: #810101;
  --toggle-fg: #b66a6a;
  --overlay-bg: #ffffff79;

}
[data-theme='dark']{
  --background-color: #000000;
  --primary-bg: #141414;
  --primary-color: #ffff;
  --toggle-bg: #b66a6a;
  --toggle-fg: #810101;
  --overlay-bg: #00000071;

}
.dashboard{
  background-color: var(--primary-bg);
  color: var(--primary-color);
  transition: background-color .25s ease-in-out;

}
.toggle + .togLabel{
  color: var(--primary-color);
}
.toggle + .togLabel::before{
  content: '';
  height: 1em;
  width: 2em;
  border-radius: 1em;
  background-color: var(--toggle-bg);
  margin-right: .5em;
  transition: background-color .25s ease-in-out, transform 240ms ease-in-out;
}

.toggle + .togLabel::after{
  content: '';
  height: .8em;
  width: .8em;
  border-radius: 1em;
  background-color: var(--toggle-fg);
  position: absolute;
  left: 0.2em;

}
.toggle:checked + .togLabel::after{
  transform: translateX(100%);

}

/* global.css*/


/* width */
::-webkit-scrollbar {
	width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #2c2b2b;
  
	border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: rgb(220, 38, 38);
	border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: rgb(230, 116, 116);
}

li{
  list-style: none;
  
}

.flex-centre{
  display: flex;
  justify-content: center;
  align-items: center;
}
.space-between{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.space-around{
  display: flex;
  align-items: center;
  justify-content: space-around;
}
span.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: rgb(150, 10, 10);
  opacity: 1;
}
.grad{
  background-image: (to right, rgb(239, 68, 68), rgb(153, 27, 27))
}

.gridSpan{
  grid-column: 1 / -1;
}
.nav-link{
  position: relative;

}

.nav-link::after{
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  border-radius: 5px;
  height: 0.2em;
  bottom: -2px;
  left: 0;
  background: rgb(220 38 38);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
.nav-link:hover::after{
  transform: scaleX(1);
  transform-origin: bottom left;
}
.menu-btn, .side-btn{
  display: none;
}
.nav-link:last-child{
  color: white;
  background: rgb(220 38 38);;
  padding: 10px 30px;
  font-weight: bold;
  /* margin-left: 100px; */

}




.userSideBar{
  background-color: var(--background-color);
}
.side-link{
  width: 100%;
  padding: 20px 50px;
  transition: all ease-in-out .5s;
  
}
.side-link:hover{
  background-color: #8f1f1f2f;
}
.content{
  width: calc(100% - 300px);
}
.mealWrapper{
  background-color: var(--background-color);
  border-radius: 10px;
}
.modal-overlay{
  width: 100%;
  height: 100vh;
  position: absolute;
  display: flex;
  justify-content: flex-end;
  top: 0;
  left: 0;
  background-color: var(--overlay-bg);
  transition: all 4s ease-in-out;
}
.modal-content{
  width: 50%;
  background-color: var(--primary-bg);
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 40px ;
}





@media only screen and (max-width: 750px) {
  .menu-btn{
    display: block;
    cursor: pointer;
  }
  .nav-link{
    display: none;
    transition: all .3s ease-in-out;

  }
  .sideBar{
    flex-direction: column;
    background-color: rgb(0, 0, 0);
    justify-content: center;
    gap: 50px;
    align-items: center;
    height: 100vh;
    width: 0px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100000;
    transition: all .5s ease-in-out;
  }
  .sideBar.active .nav-link{
    display: block;
  }
  .overlay{
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: -999;
    background-color: #2c2b2b94;
  
  }
 
 .content{
  width: 100%;
 }
 ::-webkit-scrollbar {
	width: 0px;
}
  .sideBar.active{
    width: 300px;

    
  }
  /* .links, .signout{
    display: none;

  } */
  .userSideBar{
    
    width: 0px;
    transition: all .5s ease-in-out;

  }
  .sidebar-content{
    display: none;
    transition: all .4s ease-in-out;
  }
 
  .userSideBar.active{
    width: 300px;
    position: fixed;
  }
  .side-btn{
    display: block;
    left: 0px;
    transition: all .5s ease-in-out;
    background-color: var(--background-color);
    color: var(--toggle-fg);
  }
  .userSideBar.active .side-btn{
    left: 270px;
  }
  .userSideBar.active .sidebar-content{
    display: flex;
    transition: all .2s ease-in-out;

  }
 
}