@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: #00302E; */
  color: white;
  /* overflow-x: hidden; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  

}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

/* global.css*/


/* width */
::-webkit-scrollbar {
	width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #2c2b2b;
	border-radius: 0px;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: rgb(220, 38, 38);
	border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: rgb(230, 116, 116);
}

li{
  list-style: none;
  
}

.flex-centre{
  display: flex;
  justify-content: center;
  align-items: center;
}
.space-between{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.space-around{
  display: flex;
  align-items: center;
  justify-content: space-around;
}
span.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: rgb(150, 10, 10);
  opacity: 1;
}
.grad{
  background-image: (to right, rgb(239, 68, 68), rgb(153, 27, 27))
}